p {
    font-family:Arial;
}

a {
    color: red;
    font-size: 20px;
}

h2 {
    font-family:Corbel;
    font-size: 30px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    color: #3911EE;
    margin-top: 15px;
}

h4 {
    font-style:italic;
    font-family:Constantia;
    font-size: 18px;
    text-align: center;
    color: #1E5418;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 5px 50px 50px 50px;
    background-color: #B29B9B;
}

div {
    margin: 50px 50px 50px 50px;
    font-family: Candara;
    font-size: 20px;
    text-align: center;
}